*{
 font-style: italic;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:  Garamond, serif;
  
}
.card-title {
  text-transform: capitalize;

}
.card :hover {
  background:rgb(231, 228, 228)
}
.card-ward{
  margin: 8px;
  padding-top: 60px;
  width: 300px;
}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
}
 .img img{
  margin-top: 2%;
  width: 350px;
  height: 350px;
  border-radius: 3%;
 
 }
 
  
 
.btn{
  
}